doctype html
html
  head
    title Study jadeTemplate
  body
    h1 Study jade study
    h2 hello world
    section 1
    h1.test1
    h4.title(id='hello',class='br1 br2')
    //嵌套section章节
    section
      div
        ul
          li hello
          li hello

    a(href='http://www.baidu.com',target='_blank') link
    input(value="nihao",type='text',name='jade',checked)
    input(name='type',type='checkbox',checked)
    p.ok.
      1.nwaidasid<strong>nihao</strong>
      2.vv
      3.checked
    //被编译的注释
    //- 非编译注释
    //
      注释换行可全注释

